extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Profile Information

  form(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='first') First Name
      .col-md-7
        if user.isAdmin
          input.form-control(type='string', name='first', id='first', value=user.profile.first)
        else
          input.form-control(type='string', name='first', id='first', value=user.profile.first, disabled)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='last') Last Name
      .col-md-7
        if user.isAdmin
          input.form-control(type='string', name='last', id='last', value=user.profile.last)
        else
          input.form-control(type='string', name='last', id='last', value=user.profile.last, disabled)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        if user.isAdmin
          input.form-control(type='email', name='email', id='email', value=user.email)
        else
          input.form-control(type='email', name='email', id='email', value=user.email, disabled)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Phone Number
      .col-md-7
        if user.isAdmin
          input.form-control(type='string', name='phone', id='phone', value=user.profile.phone)
        else
          input.form-control(type='string', name='phone', id='phone', value=user.profile.phone, disabled)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right Gender
      .col-sm-7
        if user.isAdmin
          select.form-control(name='gender')
            if user.profile.gender=='Male'
              option(value='Male', selected) Male
              option(value='Female') Female
            else
              option(value='Male') Male
              option(value='Female', selected) Female
        else
          span.form-control(readonly)= user.profile.gender
    .for-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='sport') Sport
      .col-md-7
        if user.isAdmin
          select.form-control(name='sport')
            option(value='Baseball', selected=user.athlete.sport=='Baseball') Baseball
            option(value="Men's Basketball", selected=user.athlete.sport=="Men's Basketball") Men's Basketball
            option(value="Women's Basketball", selected=user.athlete.sport=="Women's Basketball") Women's Basketball
            option(value="Men's Cross Country", selected=user.athlete.sport=="Men's Cross Country") Men's Cross Country
            option(value="Women's Cross Country", selected=user.athlete.sport=="Women's Cross Country") Women's Cross Country
            option(value='Football', selected=user.athlete.sport=='Football') Football
            option(value='Golf', selected=user.athlete.sport=='Golf') Golf
            option(value="Men's Soccer", selected=user.athlete.sport=="Men's Soccer") Men's Soccer
            option(value="Women's Soccer", selected=user.athlete.sport=="Women's Soccer") Women's Soccer
            option(value="Men's Swimming", selected=user.athlete.sport=="Men's Swimming") Men's Swimming
            option(value="Women's Swimming", selected=user.athlete.sport=="Women's Swimming") Women's Swimming
            option(value="Men's Track and Field", selected=user.athlete.sport=="Men's Track and Field") Men's Track and Field
            option(value="Women's Track and Field", selected=user.athlete.sport=="Women's Track and Field") Women's Track and Field
            option(value='Wrestling', selected=user.athlete.sport=='Wrestling') Wrestling
            option(value='Softball', selected=user.athlete.sport=='Softball') Softball
            option(value='Volleyball', selected=user.athlete.sport=='Volleyball') Volleyball
        else
          span.form-control(readonly)= user.athlete.sport
    br
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='maxBench') Max Bench Press
      .col-md-7
        if user.isAdmin
          input.form-control(type='number', name='maxBench', id='maxBench', placeholder=user.athlete.maxBench, autofocus)
        else
          input.form-control(type='number', name='maxBench', id='maxBench', placeholder=user.athlete.maxBench, autofocus, disabled)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='maxClean') Max Clean
      .col-md-7
        if user.isAdmin
          input.form-control(type='number', name='maxClean', id='maxClean', placeholder=user.athlete.maxClean, autofocus)
        else
          input.form-control(type='number', name='maxClean', id='maxClean', placeholder=user.athlete.maxClean, autofocus, disabled)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='maxSquat') Max Squat
      .col-md-7
        if user.isAdmin
          input.form-control(type='number', name='maxSquat', id='maxSquat', placeholder=user.athlete.maxSquat, autofocus)
        else
          input.form-control(type='number', name='maxSquat', id='maxSquat', placeholder=user.athlete.maxSquat, autofocus, disabled)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='maxDeadlift') Max Deadlift
      .col-md-7
        if user.isAdmin
          input.form-control(type='number', name='maxDeadlift', id='maxDeadlift', placeholder=user.athlete.maxDeadlift, autofocus)
        else
          input.form-control(type='number', name='deadlift', id='deadlift', placeholder=user.athlete.maxDeadlift, autofocus, disabled)

    if user.isAdmin
      .form-group
        .offset-sm-3.col-md-7.pl-2
          button.btn.btn.btn-primary(type='submit')
            i.fas.fa-pencil-alt.fa-sm
            | Update Profile


