extends layout

append scripts
    link(rel='stylesheet', href='fullcalendar/fullcalendar.css')
    script(src='js/lib/moment.min.js')
    script(src='fullcalendar/fullcalendar.js')
    script(src='js/createPhaseCtrl.js')
block content
    #chooseTeamAlert.alert.alert-danger(role='alert')
        | Choose a team or group before creating workout
    .row.team-select
        h5 Select Team/Group
        select#teamGroupSelect.form-control
            option(value='' selected='' disabled='' hidden='') Choose Team/Group
            each t in teams
                option(value=t._id) #{t.name}
                if(t.groups)
                    each g in t.groups
                        option(value=t._id + '/' + g._id) #{t.name} - #{g.name}
    #calendar
    #chooseWorkout.modal.fade.bd-example-modal-sm(tabindex='-1' role='dialog' aria-labelledby='chooseWorkoutLabel' aria-hidden='true')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    h4#chooseWorkoutLabel.modal-title Create Workout
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .row
                        #chooseCreate.button.btn.btn-danger(type='button') Create Workout
                    .row
                        .col-4
                        .col-4
                            h5 
                                |OR
                        .col-4
                    .row
                        select#recentWorkouts.form-control
                            option(value='' selected='' disabled='' hidden='') Choose Workout
                            each w in workouts
                                option(value=w._id) #{w.name}


    #workoutModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='workoutModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-header
                    i.fas.fa-dumbbell.modal-dumbell
                    h5#workoutModalLabel.modal-title Create Workout
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span.close#close(aria-hidden='true') ×
                .modal-body
                    .alert.alert-danger(role='alert')
                        | Workout name and time required
                    form
                        .form-group
                            label(for="workoutDate") Date
                            input#workoutDate.form-control(type='text' readonly)
                        .form-group
                            label(for="workoutTime") Time
                            input#workoutTime.form-control(type='time' name='workoutTime')
                        .form-group
                            label(for='workoutName') Workout Name
                            input#workoutName.form-control(type='text', placeholder='Skills Monday Workout')
                        #workoutContainer
                            .form-group#block-1.container.block-container
                                h5.block-name#block-name-1(contenteditable="true") Block Name   
                                i.fas.fa-edit.edit.fa-lg
                                i.far.fa-trash-alt.fa-7x.block-delete#block-delete(data-toggle='tooltip', data-placement='bottom', title='Delete Block')
                                i.fas.fa-plus.fa-7x.block-add#blockadd-1(data-toggle='tooltip', data-placement='bottom', title='Add Block')
                                hr
                                #block-1-ex-1
                                    .row
                                        .col-5
                                            h6.ex-name#ex-name-1(contenteditable='true') Exercise Name            
                                            i.fas.fa-edit.edit.fa-lg
                                            textarea.form-control.ex1(rows="5" placeholder='Exercise Notes')
                                        .col-6
                                            #block-1-ex-1-table.table-editable
                                                i.fas.fa-plus.table-add#block-1-ex-1-tr-1(data-toggle='tooltip', data-placement='bottom', title='Add Row')
                                                table.table
                                                    tr#header
                                                        th Set
                                                        th Reps
                                                        th Percent
                                                        th
                                                    tr#trblock-1-ex-1-tr-1
                                                        td(contenteditable='true') 1
                                                        td(contenteditable='true') 5
                                                        td(contenteditable='true') 50
                                                        td
                                                            i.fas.fa-times.table-remove(class='row', data-toggle='tooltip', data-placement='bottom', title='Delete Row')
                                                    // This is our clonable table line
                                                    tr#clonetrblock-1-ex-1-tr-1.clone
                                                        td(contenteditable='true') 1
                                                        td(contenteditable='true') 5
                                                        td(contenteditable='true') 50
                                                        td
                                                            i.fas.fa-times.table-remove(class='row', data-toggle='tooltip', data-placement='bottom', title='Delete Row')
                                        .col-1
                                            i.fas.fa-times.ex-remove#delete-ex(data-toggle='tooltip', data-placement='right', title='Delete Exercise')
                                .row
                                    .col
                                        button.btn.btn-success.btn-sm#addblock-1-ex-1 Add Exercise &nbsp;
                                            i.fas.fa-plus
                                    .col
                                hr
                            #cloneblock-1-ex-1
                                .row
                                    .col-5
                                        h6.ex-name#ex-name-1(contenteditable='true') Exercise Name            
                                        i.fas.fa-edit.edit.fa-lg
                                        textarea.form-control.ex1(rows="5" placeholder='Exercise Notes')
                                    .col-6
                                        #block-1-ex-1-table.table-editable
                                            i.fas.fa-plus.table-add#block-1-ex-1-tr-1(data-toggle='tooltip', data-placement='bottom', title='Add Row')
                                            table.table
                                                tr#header
                                                    th Set
                                                    th Reps
                                                    th Percent
                                                    th
                                                tr#trblock-1-ex-1-tr-1
                                                    td(contenteditable='true') 1
                                                    td(contenteditable='true') 5
                                                    td(contenteditable='true') 50
                                                    td
                                                        i.fas.fa-times.table-remove(class='row', data-toggle='tooltip', data-placement='bottom', title='Delete Row')
                                                // This is our clonable table line
                                                tr#clonetrblock-1-ex-1-tr-1.clone
                                                    td(contenteditable='true') 1
                                                    td(contenteditable='true') 5
                                                    td(contenteditable='true') 50
                                                    td
                                                        i.fas.fa-times.table-remove(class='row', data-toggle='tooltip', data-placement='bottom', title='Delete Row')
                                    .col-1
                                            i.fas.fa-times.ex-remove#delete-ex(data-toggle='tooltip', data-placement='right', title='Delete Exercise')
                        
                        .form-group#cloneblock-1.container.block-container
                            h5.block-name#block-name-1(contenteditable="true") Block Name   
                            i.fas.fa-edit.edit.fa-lg
                            i.far.fa-trash-alt.fa-7x.block-delete#block-delete(data-toggle='tooltip', data-placement='bottom', title='Delete Block')
                            i.fas.fa-plus.fa-7x.block-add#blockadd-1(data-toggle='tooltip', data-placement='bottom', title='Add Block')
                            hr
                            #block-1-ex-1
                                .row
                                    .col-5
                                        h6.ex-name#ex-name-1(contenteditable='true') Exercise Name            
                                        i.fas.fa-edit.edit.fa-lg
                                        textarea.form-control.ex1(rows="5" placeholder='Exercise Notes')
                                    .col-6
                                        #block-1-ex-1-table.table-editable
                                            i.fas.fa-plus.table-add#block-1-ex-1-tr-1(data-toggle='tooltip', data-placement='bottom', title='Add Row')
                                            table.table
                                                tr#header
                                                    th Set
                                                    th Reps
                                                    th Percent
                                                    th
                                                tr#trblock-1-ex-1-tr-1
                                                    td(contenteditable='true') 1
                                                    td(contenteditable='true') 5
                                                    td(contenteditable='true') 50
                                                    td
                                                        i.fas.fa-times.table-remove(class='row', data-toggle='tooltip', data-placement='bottom', title='Delete Row')
                                                // This is our clonable table line
                                                tr#trblock-1-ex-1-tr-1.clone
                                                    td(contenteditable='true') 1
                                                    td(contenteditable='true') 5
                                                    td(contenteditable='true') 50
                                                    td
                                                        i.fas.fa-times.table-remove(class='row', data-toggle='tooltip', data-placement='bottom', title='Delete Row')
                                    .col-1
                                            i.fas.fa-times.ex-remove#delete-ex(data-toggle='tooltip', data-placement='right', title='Delete Exercise')
                            .row
                                .col
                                    button.btn.btn-success.btn-sm#addblock-1-ex-1 Add Exercise &nbsp;
                                        i.fas.fa-plus
                                .col
                            hr
                            
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#archiveWorkout.btn.btn-light(type='button') Archive and Create Workout 
                    button#createWorkout.btn.btn-light(type='button') Create Workout

    #editWorkoutModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='workoutModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-header
                    i.fas.fa-dumbbell.modal-dumbell
                    h5#workoutModalLabel.modal-title Edit Workout
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span.close#e-close(aria-hidden='true') ×
                .modal-body
                    .alert.alert-danger(role='alert')
                        | Workout name and time required
                    form
                        .form-group
                            label(for="workoutDate") Date
                            input#workoutDate.form-control(type='text' readonly)
                        .form-group
                            label(for="workoutTime") Time
                            input#workoutTime.form-control(type='time' name='workoutTime')
                        .form-group
                            label(for='workoutName') Workout Name
                            input#workoutName.form-control(type='text', placeholder='Skills Monday Workout')
                        #workoutContainer
                            .form-group#block-1.container.block-container
                                h5.block-name#block-name-1(contenteditable="true") Block Name   
                                i.fas.fa-edit.edit.fa-lg
                                i.far.fa-trash-alt.fa-7x.block-delete#e-block-delete(data-toggle='tooltip', data-placement='bottom', title='Delete Block')
                                i.fas.fa-plus.fa-7x.block-add#e-blockadd-1(data-toggle='tooltip', data-placement='bottom', title='Add Block')
                                hr
                                #block-1-ex-1
                                    .row
                                        .col-5
                                            h6.ex-name#ex-name-1(contenteditable='true') Exercise Name            
                                            i.fas.fa-edit.edit.fa-lg
                                            textarea#notes-1.form-control.ex1(rows="5" placeholder='Exercise Notes')
                                        .col-6
                                            #block-1-ex-1-table.table-editable
                                                i.fas.fa-plus.table-add#e-block-1-ex-1-tr-1(data-toggle='tooltip', data-placement='bottom', title='Add Row')
                                                table.table
                                                    tr#header
                                                        th Set
                                                        th Reps
                                                        th Percent
                                                        th
                                                    tr#trblock-1-ex-1-tr-1
                                                        td(contenteditable='true') 1
                                                        td(contenteditable='true') 5
                                                        td(contenteditable='true') 50
                                                        td
                                                            i.fas.fa-times.table-remove#e(class='row', data-toggle='tooltip', data-placement='bottom', title='Delete Row')
                                                    // This is our clonable table line
                                                    tr#e-clonetrblock-1-ex-1-tr-1.clone
                                                        td(contenteditable='true') 1
                                                        td(contenteditable='true') 5
                                                        td(contenteditable='true') 50
                                                        td
                                                            i.fas.fa-times.table-remove#e(class='row', data-toggle='tooltip', data-placement='bottom', title='Delete Row')
                                        .col-1
                                            i.fas.fa-times.ex-remove#e-delete-ex(data-toggle='tooltip', data-placement='right', title='Delete Exercise')
                                .row
                                    .col
                                        button.btn.btn-success.btn-sm#addblock-e-1-ex-1 Add Exercise &nbsp;
                                            i.fas.fa-plus
                                    .col
                                hr  
                            #e-cloneblock-1-ex-1
                                .row
                                    .col-5
                                        h6.ex-name#clone-ex-name-1(contenteditable='true') Exercise Name            
                                        i.fas.fa-edit.edit.fa-lg
                                        textarea#clone-notes-1.form-control.ex1(rows="5" placeholder='Exercise Notes')
                                    .col-6
                                        #clone-block-1-ex-1-table.table-editable
                                            i.fas.fa-plus.table-add#e-clone-block-1-ex-1-tr-1(data-toggle='tooltip', data-placement='bottom', title='Add Row')
                                            table.table
                                                tr#header
                                                    th Set
                                                    th Reps
                                                    th Percent
                                                    th
                                                tr#clone-trblock-1-ex-1-tr-1
                                                    td(contenteditable='true') 1
                                                    td(contenteditable='true') 5
                                                    td(contenteditable='true') 50
                                                    td
                                                        i.fas.fa-times.table-remove#e(class='row', data-toggle='tooltip', data-placement='bottom', title='Delete Row')
                                                // This is our clonable table line
                                                tr#e-clonetrblock-1-ex-1-tr-1.clone
                                                    td(contenteditable='true') 1
                                                    td(contenteditable='true') 5
                                                    td(contenteditable='true') 50
                                                    td
                                                        i.fas.fa-times.table-remove#e(class='row', data-toggle='tooltip', data-placement='bottom', title='Delete Row')
                                    .col-1
                                        i.fas.fa-times.ex-remove#e-delete-ex(data-toggle='tooltip', data-placement='right', title='Delete Exercise')
                        
                        .form-group#e-cloneblock-1.container.block-container
                            h5.block-name#block-name-1(contenteditable="true") Block Name   
                            i.fas.fa-edit.edit.fa-lg
                            i.far.fa-trash-alt.fa-7x.block-delete#e-block-delete(data-toggle='tooltip', data-placement='bottom', title='Delete Block')
                            i.fas.fa-plus.fa-7x.block-add#e-blockadd-1(data-toggle='tooltip', data-placement='bottom', title='Add Block')
                            hr
                            #block-1-ex-1
                                .row
                                    .col-5
                                        h6.ex-name#ex-name-1(contenteditable='true') Exercise Name            
                                        i.fas.fa-edit.edit.fa-lg
                                        textarea#notes-1.form-control.ex1(rows="5" placeholder='Exercise Notes')
                                    .col-6
                                        #block-1-ex-1-table.table-editable
                                            i.fas.fa-plus.table-add#e-block-1-ex-1-tr-1(data-toggle='tooltip', data-placement='bottom', title='Add Row')
                                            table.table
                                                tr#header
                                                    th Set
                                                    th Reps
                                                    th Percent
                                                    th
                                                tr#trblock-1-ex-1-tr-1
                                                    td(contenteditable='true') 1
                                                    td(contenteditable='true') 5
                                                    td(contenteditable='true') 50
                                                    td
                                                        i.fas.fa-times.table-remove#e(class='row', data-toggle='tooltip', data-placement='bottom', title='Delete Row')
                                                // This is our clonable table line
                                                // changed from clonetrblock to e-clonetrblock
                                                tr#e-clonetrblock-1-ex-1-tr-1.clone
                                                    td(contenteditable='true') 1
                                                    td(contenteditable='true') 5
                                                    td(contenteditable='true') 50
                                                    td
                                                        i.fas.fa-times.table-remove#e(class='row', data-toggle='tooltip', data-placement='bottom', title='Delete Row')
                                    .col-1
                                        i.fas.fa-times.ex-remove#e-delete-ex(data-toggle='tooltip', data-placement='right', title='Delete Exercise')
                            .row
                                .col
                                    button.btn.btn-success.btn-sm#addblock-e-1-ex-1 Add Exercise &nbsp;
                                        i.fas.fa-plus
                                .col
                            hr      
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#archiveWorkout.btn.btn-light(type='button') Archive Workout 
                    button#createWorkout.btn.btn-light(type='button') Create Workout
